#timer-template
{
    display: none;
}

.timer
{
    margin: 15px 0px;
    background: #333333;
}

.timer .timer-main
{
    display: flex;
    padding: 10px;
    align-items: center;
}

.timer .timer-value
{
    text-align: right;
    font-size: 20px;
    font-weight: bold;

    transition: all 1s;
}

.timer .timer-split
{
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 1rem;
}

.timer .timer-main > div
{
    width: 50%;
}

.timer .timer-split .timer-current-split-name
{
    flex-grow: 1;
}

.timer .timer-split .timer-current-split-time
{
    text-align: right;
    flex-shrink: 1;
}

.timer.timer-started
{
    background-color: #3333ff;
}

.timer.timer-started.timer-paused
{
    background-color: #888888;
}

.timer.timer-ended
{
    background-color: #33aa33;
}

.ahead
{
    color: #33aa33;
}

.timer-ended .ahead
{
    color: #00ff00;
}

.behind
{
    color: #aa3333;
}